*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 2px;
background-color: #fff;
}
.nav_container{
    color: #1e323e;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    background: #fff;
    height: 70px;
}
.container{
    max-width: 1260px;
    margin-inline: auto;
}

nav .sub-nav1{
    width: 20%;

}
.sub{
    display: none;
}
nav .sub-nav2{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    font-family: cursive;
    height: 25px;
}
nav .sub-nav2 .sections{
    color: #1e323e;
    text-decoration: none;
    border-bottom: 2px solid hidden;
    text-transform: capitalize;
}

nav .sub-nav2 .sections:hover{
    color: #3347ff;
    border-bottom: 2px solid #3347ff;
}
.res-sub-nav2{
    font-size: 28px;
    cursor: pointer;
    display: none;
}
main {
    margin-top: 4%;
}
main .main-containt{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.main-name-sub{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-name-sub h2{
    font-size: 28px;
}
.main-name-sub h2 span{
    color: #971010;
}
.main-name-subdivision{
    font-size: 25px;
    color: #002057;

}

.btn{
    width: 165px;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    border-radius: 25px;
    border: none;
    background: #2506ad;
    color: #fff;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    /* transition: 5s; */

}

.btn:hover{
    background: #1a047e;

}
.btn i{
    transition: 0.5s ease-in-out;

}
.btn:hover  i{
    transform: translateX(10px);


}
.main-name-sub-2{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 2%;

}
main{
    background-color: lightblue;
}
.links{
    width: 45px;
    height: 45px;
    background: #09011b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.links i{
    color: #00d9fd;
    font-size: 25px;
}
.links:hover i{
    color: #fff;
}
.in:hover{
    background-color:#0a66c2 ;
}
.twitter:hover{
    background-color: #00a7e6;
}
.instagram:hover{
    background-color: #c58af9;
}
.telegram:hover{
    background-color: #3390ec;
}
.main-name{
    width: 70%;
}
.avatar-dp{
    width: 30%;
    margin-top: 5%;
}
.avatar-dp img{
    width: 85%;
    width: 85%;
    border-radius: 50%;
}


/* //about section */
.parent-about-section{
    margin-top: 2%;

}
.about_section_main{
    width: 65%;
}
.about_section{
 
    padding: 5% 6% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.about_section .picture{
    width: 300px;
    cursor: pointer;
    background-color: snow;
}
.about_section .picture img{
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    height: 350px;
mix-blend-mode: luminosity;
}
.about_section .picture img:hover{
    mix-blend-mode: normal;
}
.about_info{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    transition: 0.5s;
}
.res_btn{
    width: 130px;
    height: 45px;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    background: #2506ad;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
}
.res_btn i{
    transition: 0.5s ease-in-out;
}
.res_btn:hover{
    background: #1a047e;
}
.res_btn:hover i{
    transform: translateX(10px);
}
@media screen and (max-width:1150px) {
    nav .sub-nav2{
        display: none;
    }
    .res-sub-nav2{
        
        display: block;
    }
    nav{

        justify-content: space-between;
    }
    .sub .sections{
        color: #fff;
        text-decoration: none;
    }
    .sub-nav3{ 
        width: 60%;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        font-size: 17px;
        font-family: cursive;
        height: 25px;
        height: 89vh;
        top: 10%;
        right: 0;
        background: #0e0f31;
        flex-direction: column;
        align-items: center;
     } 
      .sub-nav3 .sections{
        color: #fff;
        width: 60%;
        text-align: center;
        padding: 10px 0;
     }
      .sub-nav3 .sections:hover{
        color: #fff;
        border-radius: 5px;
        border-bottom: 5px solid #3347ff;
    }
    main .main-containt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .main-name-sub-2{
    
        width: 65%;
    
    }
    .avatar-dp img {
        width: 100%;
    }
    .main-name-subdivision {
        font-size: 22px;
        color: #002057;
    }
    .main-name-sub h2 {
        font-size: 30px;
    }
    .about_info {
        width: 100%;
    }
 
    .about_section{
    flex-direction: column;
    align-items: center;
}    
.picture{
    margin: 5% 0;
}
}
@media screen and (max-width:650px) {
    .main-name-sub {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main-name-subdivision {
        font-size: 12px;
        color: #002057;
    }
    .main-name-sub h2 {
        font-size: 17px;
    }
    .btn {
        width: 90px;
        box-shadow: 0 0 5px 0px #2506ad;
        border-radius: 25px;
        border: none;
        background: #2506ad;
        color: #fff;
        padding: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        font-size: 10px;
    }
    .main-name-sub-2 {
        width: 100%;
    }
    .links {
        width: 40px;
        height: 40px;
    }
    .about_section .picture {
        width: 300px;
    }    
    .about_section_main {
        width: 100%;
    }
}